* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

.container {
  position: relative;
  
}

.sideBar {
  width: 30%;
  height: 500px;
  display: flex;
  flex-direction: column;
  padding-left: 110px;
  position: absolute;
  top: 40px;
}

.profileName {
  font-size: 28px;
}

.editProfile {
  width: 85%;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #FAFBFC;
  border: solid 1px #D9DBDB;
  border-radius: 5px;
  padding-bottom: 10px;
  padding-top: 7px;
}

.log-in {
  color: #838383;
  font-size: 20px;
}

.profileLocation {
  margin-bottom: 10px;
}

.profileEmail {
  margin-bottom: 10px;
}

.navbar {
  height: 50px;
  padding-top: 20px;
  padding-left: 450px;
  padding-bottom: 10px;
  width: 100%;
  border-bottom: solid 1px#E2E4E8;
  position: fixed;
  z-index: 1;
  background: white;
}

.navbar a {
  margin-right: 60px;
  text-decoration: none;
  color: black;
  padding-bottom: 9px;
}

.navbar a:hover {
  border-bottom: solid 3px #DBDDDF;
}

.repoTotal {
  background: #E8EAEC;
  border-radius: 8px;
  font-size: 12px;
}

.avatar img {
  border-radius: 50%;
  max-width: 87%;
  margin-bottom: 20px;
  z-index: 2;
}

.repoContainer {
  width: 63%;
  position: absolute;
  right: 110px;
  top: 65px;
  border-bottom: solid 1px #E2E4E8;
  margin-bottom: 15px;
}

.repoInput {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.repoInput input {
  width: 540px;
  height: 30px;
  padding-left: 10px;
}

.typeBtn {
  height: 30px;
  width: 100px;
  border-radius: 7px;
  border: solid 1px #D9DBDB;
  outline: none;
  cursor: pointer;
  background: #FAFBFC;
  font-weight: bold;
  color: #8A8D90;
}

.languageBtn {
  height: 30px;
  width: 160px;
  border-radius: 7px;
  border: solid 1px #D9DBDB;
  outline: none;
  cursor: pointer;
  background: #FAFBFC;
  font-weight: bold;
  color: #8A8D90;
}

.newBtn {
  height: 30px;
  width: 80px;
  border-radius: 7px;
  border: solid 1px #D9DBDB;
  outline: none;
  cursor: pointer;
  background: #54A158;
  color: white;
  font-weight: bold;
}

.eachRepo {
  height: 140px;
  width: 100%;
  border-top: solid 1px #E2E4E8;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  padding-top: 30px;
}

.eachRepo a {
  font-size: 20px;
  font-weight: bold;
  color: #2566CF;
  text-decoration: none;
}

.starBtn {
  width: 60px;
  height: 25px;
  border-radius: 5px;
  border: solid 1px #D9DBDB;
  outline: none;
  cursor: pointer;
  background: #FAFBFC;
  position: absolute;
  right: 0px;
}

.eachRepo a:hover {
  text-decoration: underline;
}

.bottomRepo {
  padding-top: 20px;
}

.bottomRepo span {
  margin-right: 10px;
  margin-left: 10px;
}

.forkedFrom {
  margin-top: 5px;
}
